* {
    margin: 0;
    padding: 0;
    font-family: "Luckiest Guy", cursive;         
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    display: flex;
    justify-content: center;
    background-color: #606060FF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px;
    border: 2px solid;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
    background-color: #D6ED17FF;
}

h1 {
    font-size: 32px;
    margin: 0;
}

.game-board {
    display: inline-block;
    margin: 20px;   
}

.game-section {
    text-align: center;
}

.row {
    display: flex;
}


.winner-text {
    font-size: 24px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

#restartButton,
#twoPlayers,
#vsComputer {
    font-size: 18px;
    padding: 10px 20px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}

#restartButton button {
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}

#restartButton button:hover {
    color: rgb(255, 255, 255);
    background-color: #606060FF;
    border: none;
} 

.vs-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs-button button {
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}

.vs-button button:hover {
    color: rgb(255, 255, 255);
    background-color: #606060FF;
    border: none;
}